Repository PacketFabric/terraform-provider-packetfabric, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rjouhann, @medzin, @solababs, @caitlinwheeless

update tests
  internal/provider/datasource_cloud_connection_test.go
  internal/provider/datasource_cloud_connections_test.go
  internal/provider/datasource_point_to_points_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @medzin, @solababs, @rjouhann

update tests
  internal/testutil/test_hcls.go
Owners: @medzin, @solababs, @rjouhann

few adjustements
  internal/provider/datasource_cloud_connection_test.go
  internal/provider/datasource_cloud_connections_test.go
  internal/provider/datasource_point_to_points_test.go
  internal/provider/resource_point_to_point_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @medzin, @solababs, @rjouhann

fix ptp
  examples/test.tf
  internal/packetfabric/point_to_point.go
  internal/provider/datasource_cloud_connections_test.go
  internal/provider/datasource_point_to_points.go
  internal/provider/datasource_ports.go
Owners: @rjouhann, @medzin, @solababs

Pfacctests/data packetfabric cloud router connections and connection (#470)
  examples/test.tf
  internal/packetfabric/point_to_point.go
  internal/provider/datasource_cloud_connection_test.go
  internal/provider/datasource_cloud_connections_test.go
  internal/provider/datasource_point_to_points.go
  internal/provider/datasource_point_to_points_test.go
  internal/provider/datasource_ports.go
  internal/provider/resource_point_to_point_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @rjouhann, @medzin, @solababs

Update Example Use Case Cross-connect
  docs/resources/packetfabric_document.md
  docs/resources/packetfabric_outbound_cross_connect.md
  examples/resources/packetfabric_document/resource.tf
  examples/resources/packetfabric_outbound_cross_connect/resource.tf
  examples/test.tf
  examples/use-cases/README.md
  examples/use-cases/backbone_virtual_circuit/README.md
  examples/use-cases/backbone_virtual_circuit/demo_port_loa.pdf
  examples/use-cases/backbone_virtual_circuit/main.tf
  examples/use-cases/backbone_virtual_circuit/variables.tf
Owners: @caitlinwheeless, @rjouhann

Update Example Use Case Cross-connect (#519)
  docs/resources/packetfabric_document.md
  docs/resources/packetfabric_outbound_cross_connect.md
  examples/resources/packetfabric_document/resource.tf
  examples/resources/packetfabric_outbound_cross_connect/resource.tf
  examples/test.tf
  examples/use-cases/README.md
  examples/use-cases/backbone_virtual_circuit/README.md
  examples/use-cases/backbone_virtual_circuit/demo_port_loa.pdf
  examples/use-cases/backbone_virtual_circuit/main.tf
  examples/use-cases/backbone_virtual_circuit/variables.tf
Owners: @caitlinwheeless, @rjouhann

Acc test structure: Resource packetfabric_outbound_cross_connect
  internal/provider/resource_outbound_cross_connect_test.go
  internal/testutil/test_hcls.go
Owners: @medzin, @solababs, @rjouhann

Generating HCL for packetfabric_outbound_cross_connect
  internal/provider/resource_outbound_cross_connect_test.go
  internal/testutil/test_envar_keys.go
Owners: @medzin, @solababs, @rjouhann

Fetching POP from locations filtered by port POP.
  internal/provider/resource_outbound_cross_connect_test.go
  internal/testutil/test_hcls.go
Owners: @medzin, @solababs, @rjouhann

Adding import.
  internal/provider/resource_outbound_cross_connect_test.go
Owners: @medzin, @solababs, @rjouhann

Generating HCL for datasources packetfabric_outbound_cross_connect
  internal/provider/datasource_outbound_cross_connect_test.go
  internal/provider/resource_outbound_cross_connect_test.go
  internal/testutil/test_envar_keys.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @medzin, @solababs, @rjouhann

Update test_hcls.go
  internal/testutil/test_hcls.go
Owners: @medzin, @solababs, @rjouhann

Generating HCL for packetfabric_cloud_router_connection_ipsec
  internal/provider/resource_ipsec_route_cloud_connection_test.go
  internal/testutil/test_hcls.go
Owners: @medzin, @solababs, @rjouhann

Adding ImportState step.
  internal/provider/resource_ipsec_route_cloud_connection_test.go
Owners: @medzin, @solababs, @rjouhann

Generating HCL for datasources packetfabric_cloud_router_connection_ipsec
  internal/provider/datasource_ipsec_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @medzin, @solababs, @rjouhann

Generating HCL for datasources packetfabric_cloud_router_bgp_session
  internal/provider/datasource_bgp_session_test.go
  internal/provider/datasource_ipsec_test.go
  internal/provider/resource_ipsec_route_cloud_connection_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @medzin, @solababs, @rjouhann

rename and fix occ data-source, rename activitylogs and occ
  docs/data-sources/packetfabric_activitylogs.md
  docs/data-sources/packetfabric_outbound_cross_connects.md
  docs/data-sources/packetfabric_point_to_points.md
  examples/data-sources/packetfabric_activitylog/data-source.tf
  examples/data-sources/packetfabric_activitylogs/data-source.tf
  examples/data-sources/packetfabric_outbound_cross_connect/data-source.tf
  examples/data-sources/packetfabric_outbound_cross_connects/data-source.tf
  examples/test.tf
  internal/packetfabric/outbound_cross_connect.go
  internal/provider/datasource_activity_log_test.go
  internal/provider/datasource_activity_logs.go
  internal/provider/datasource_activity_logs_test.go
  internal/provider/datasource_outbound_cross_connect_test.go
  internal/provider/datasource_outbound_cross_connects.go
  internal/provider/datasource_outbound_cross_connects_test.go
  internal/provider/datasource_point_to_points.go
  internal/provider/provider.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  templates/data-sources/activitylog.md.tmpl
  templates/data-sources/activitylogs.md.tmpl
  templates/data-sources/outbound_cross_connect.md.tmpl
  templates/data-sources/outbound_cross_connects.md.tmpl
Owners: @caitlinwheeless, @rjouhann, @medzin, @solababs

add back LAB6
  internal/testutil/test_hcls.go
Owners: @medzin, @solababs, @rjouhann

Pfacctests/data packetfabric outbound cross connect (#469)
  docs/data-sources/packetfabric_activitylogs.md
  docs/data-sources/packetfabric_outbound_cross_connects.md
  docs/data-sources/packetfabric_point_to_points.md
  examples/data-sources/packetfabric_activitylog/data-source.tf
  examples/data-sources/packetfabric_activitylogs/data-source.tf
  examples/data-sources/packetfabric_outbound_cross_connect/data-source.tf
  examples/data-sources/packetfabric_outbound_cross_connects/data-source.tf
  examples/test.tf
  internal/packetfabric/outbound_cross_connect.go
  internal/provider/datasource_activity_log_test.go
  internal/provider/datasource_activity_logs.go
  internal/provider/datasource_activity_logs_test.go
  internal/provider/datasource_outbound_cross_connects.go
  internal/provider/datasource_outbound_cross_connects_test.go
  internal/provider/datasource_point_to_points.go
  internal/provider/provider.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  templates/data-sources/activitylog.md.tmpl
  templates/data-sources/activitylogs.md.tmpl
  templates/data-sources/outbound_cross_connect.md.tmpl
  templates/data-sources/outbound_cross_connects.md.tmpl
Owners: @caitlinwheeless, @rjouhann, @medzin, @solababs

update bgp test
  internal/provider/datasource_bgp_session_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @medzin, @solababs, @rjouhann

update tags
  internal/provider/datasource_bgp_session_test.go
Owners: @medzin, @solababs, @rjouhann

update info about keygen
  examples/use-cases/cloud_router_aws/README.md
  examples/use-cases/cloud_router_aws_google/README.md
  examples/use-cases/cloud_router_aws_google_no_cloud_side/README.md
  examples/use-cases/cloud_router_aws_oracle_port/README.md
  examples/use-cases/cloud_router_google_azure/README.md
  examples/use-cases/cloud_router_google_ipsec/README.md
  examples/use-cases/cloud_router_ibm_oracle/README.md
  examples/use-cases/hosted_cloud_ibm/README.md
Owners: @rjouhann

Pfacctests/data packetfabric cloud router bgp session (#471)
  internal/provider/datasource_bgp_session_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @medzin, @solababs, @rjouhann

add rules for naming
  examples/use-cases/backbone_virtual_circuit/variables.tf
  examples/use-cases/backbone_virtual_circuit_mesh/variables.tf
  examples/use-cases/cloud_router_aws/variables.tf
  examples/use-cases/cloud_router_aws_google/variables.tf
  examples/use-cases/cloud_router_aws_google_no_cloud_side/variables.tf
  examples/use-cases/cloud_router_aws_oracle_port/variables.tf
  examples/use-cases/cloud_router_google_azure/variables.tf
  examples/use-cases/cloud_router_google_ipsec/variables.tf
  examples/use-cases/cloud_router_ibm_oracle/variables.tf
  examples/use-cases/dedicated_cloud_aws/variables.tf
  examples/use-cases/flex_bandwidth/variables.tf
  examples/use-cases/hosted_cloud_aws/variables.tf
  examples/use-cases/hosted_cloud_aws_no_cloud_side/variables.tf
  examples/use-cases/hosted_cloud_azure/variables.tf
  examples/use-cases/hosted_cloud_google/variables.tf
  examples/use-cases/hosted_cloud_ibm/variables.tf
  examples/use-cases/marketplace/a_side/variables.tf
  examples/use-cases/marketplace/z_side/variables.tf
Owners: @rjouhann

correct few things
  docs/index.md
  docs/resources/packetfabric_cloud_provider_credential_aws.md
  docs/resources/packetfabric_cloud_router_connection_aws.md
  docs/resources/packetfabric_cs_aws_hosted_connection.md
  examples/resources/packetfabric_cloud_provider_credential_aws/resource.tf
  examples/resources/packetfabric_cloud_router_connection_aws/resource.tf
  examples/resources/packetfabric_cs_aws_hosted_connection/resource.tf
  examples/test.tf
  examples/use-cases/cloud_router_aws/cloud_router_connections.tf
  examples/use-cases/cloud_router_aws_google/cloud_router_connection_aws.tf
  examples/use-cases/cloud_router_aws_oracle_port/cloud_router_connection_aws.tf
  examples/use-cases/hosted_cloud_aws/main.tf
  internal/provider/resource_aws_cloud_router_connection.go
  internal/provider/resource_aws_hosted_conn.go
Owners: @caitlinwheeless, @rjouhann, @medzin, @solababs

Add is_lag to packetfabric_cs_dedicated_connections data-source
  internal/packetfabric/cloud_service_aws.go
  internal/packetfabric/cloud_service_aws_test.go
  internal/provider/datasource_cloud_dedicated_connections.go
  internal/provider/datasource_cloud_dedicated_connections_test.go
Owners: @medzin, @solababs, @rjouhann

Update docs
  docs/data-sources/packetfabric_cs_dedicated_connections.md
Owners: @caitlinwheeless, @rjouhann

Add is_lag to packetfabric_cs_dedicated_connections data-source (#525)
  docs/data-sources/packetfabric_cs_dedicated_connections.md
  internal/packetfabric/cloud_service_aws.go
  internal/packetfabric/cloud_service_aws_test.go
  internal/provider/datasource_cloud_dedicated_connections.go
  internal/provider/datasource_cloud_dedicated_connections_test.go
Owners: @caitlinwheeless, @rjouhann, @medzin, @solababs

Update Use Case Example Azure
  examples/use-cases/cloud_router_google_azure/azure_virtual_machine.tf
Owners: @rjouhann

ACC Test for packetfabric_cloud_provider_credential_aws/google resources
  acc_test_helper.txt
  internal/provider/resource_aws_cloud_provider_credential_test.go
  internal/provider/resource_google_cloud_provider_credential_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @rjouhann, @medzin, @solababs

small renaming
  acc_test_helper.txt
  internal/provider/resource_google_cloud_provider_credential_test.go
Owners: @rjouhann, @medzin, @solababs

Changes to template and resource files
  internal/provider/resource_google_cloud_router_connection.go
  internal/provider/resource_google_hosted_conn.go
  templates/resources/cloud_router_connection_google.md.tmpl
  templates/resources/cs_aws_hosted_connection.md.tmpl
  templates/resources/cs_google_hosted_connection.md.tmpl
Owners: @medzin, @solababs, @rjouhann, @caitlinwheeless

update example use-cases
  examples/use-cases/cloud_router_aws/variables_aws.tf
  examples/use-cases/cloud_router_aws_google/variables_aws.tf
  examples/use-cases/cloud_router_aws_google/variables_google.tf
  examples/use-cases/cloud_router_aws_google_no_cloud_side/variables_aws.tf
  examples/use-cases/cloud_router_aws_google_no_cloud_side/variables_google.tf
  examples/use-cases/cloud_router_aws_oracle_port/variables_aws.tf
  examples/use-cases/cloud_router_aws_oracle_port/variables_on_premise.tf
  examples/use-cases/cloud_router_aws_oracle_port/variables_oracle.tf
  examples/use-cases/cloud_router_google_azure/variables_azure.tf
  examples/use-cases/cloud_router_google_azure/variables_google.tf
  examples/use-cases/cloud_router_google_ipsec/variables_google.tf
  examples/use-cases/cloud_router_google_ipsec/variables_on_premise.tf
  examples/use-cases/cloud_router_ibm_oracle/variables_ibm.tf
  examples/use-cases/cloud_router_ibm_oracle/variables_oracle.tf
Owners: @rjouhann

ran tfplugin
  docs/resources/packetfabric_cloud_router_connection_google.md
  docs/resources/packetfabric_cs_aws_hosted_connection.md
  docs/resources/packetfabric_cs_google_hosted_connection.md
  examples/use-cases/cloud_router_aws/variables_aws.tf
  examples/use-cases/cloud_router_aws_google/variables_aws.tf
  examples/use-cases/cloud_router_aws_google/variables_google.tf
  examples/use-cases/cloud_router_aws_google_no_cloud_side/variables_google.tf
Owners: @caitlinwheeless, @rjouhann

Updated note in AWS CR connection resource
  docs/resources/packetfabric_cloud_router_connection_aws.md
  templates/resources/cloud_router_connection_aws.md.tmpl
Owners: @caitlinwheeless, @rjouhann

Bump version to 1.6.0 in examples and update CHANGELOG.md
  CHANGELOG.md
  docs/index.md
  examples/provider/provider.tf
  examples/test.tf
  examples/use-cases/backbone_virtual_circuit/main.tf
  examples/use-cases/backbone_virtual_circuit_mesh/main.tf
  examples/use-cases/cloud_router_aws/provider.tf
  examples/use-cases/cloud_router_aws_google/provider.tf
  examples/use-cases/cloud_router_aws_oracle_port/provider.tf
  examples/use-cases/cloud_router_google_azure/provider.tf
  examples/use-cases/cloud_router_google_ipsec/provider.tf
  examples/use-cases/cloud_router_ibm_oracle/provider.tf
  examples/use-cases/cloud_router_module/main.tf
  examples/use-cases/cloud_router_module/modules/packetfabric/cloud_router.tf
  examples/use-cases/dedicated_cloud_aws/main.tf
  examples/use-cases/flex_bandwidth/main.tf
  examples/use-cases/hosted_cloud_aws/main.tf
  examples/use-cases/hosted_cloud_azure/main.tf
  examples/use-cases/hosted_cloud_google/main.tf
  examples/use-cases/hosted_cloud_ibm/main.tf
  examples/use-cases/marketplace/a_side/main.tf
  examples/use-cases/marketplace/z_side/main.tf
Owners: @rjouhann, @caitlinwheeless

update changelog
  CHANGELOG.md
Owners: @rjouhann

Acc test for packetfabric_cloud_router_quick_connect
  internal/provider/resource_cloud_router_quick_connect_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @medzin, @solababs, @rjouhann

ACC Test for packetfabric_cloud_provider_credential_aws/google resources (#526)
  acc_test_helper.txt
  internal/provider/resource_aws_cloud_provider_credential_test.go
  internal/provider/resource_google_cloud_provider_credential_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Owners: @rjouhann, @medzin, @solababs

.github/CODEOWNERS:

# default owner
*   @rjouhann

# code
/internal/  @medzin @solababs @rjouhann

# docs
/docs/  @caitlinwheeless @rjouhann
/templates/ @caitlinwheeless @rjouhann
/examples/  @rjouhann
