Repository PacketFabric/terraform-provider-packetfabric, pull requests merged in 2023-05, with the labels that each got.

#487 Add new packetfabric_cloud_router_connection data-source
  docs/data-sources/packetfabric_cloud_router_connection.md
  examples/data-sources/packetfabric_cloud_router_connection/data-source.tf
  examples/test.tf
  internal/provider/datasource_cloud_connection.go
  internal/provider/datasource_cloud_connections.go
  internal/provider/provider.go
  templates/data-sources/cloud_router_connection.md.tmpl
Labels: new feature

#488 Update example v1.5.0
  CHANGELOG.md
  docs/index.md
  examples/provider/provider.tf
  examples/test.tf
  examples/use-cases/backbone_virtual_circuit/README.md
  examples/use-cases/backbone_virtual_circuit/main.tf
  examples/use-cases/backbone_virtual_circuit_mesh/README.md
  examples/use-cases/backbone_virtual_circuit_mesh/main.tf
  examples/use-cases/cloud_router_aws/README.md
  examples/use-cases/cloud_router_aws/aws_dx_gateways.tf
  examples/use-cases/cloud_router_aws/aws_private_gateway.tf
  examples/use-cases/cloud_router_aws/aws_route_table.tf
  examples/use-cases/cloud_router_aws/user-data-ubuntu.sh
  examples/use-cases/cloud_router_aws_google/README.md
  examples/use-cases/cloud_router_aws_google/provider.tf
  examples/use-cases/cloud_router_aws_google/user-data-ubuntu.sh
  examples/use-cases/cloud_router_aws_google_no_cloud_side/README.md
  examples/use-cases/cloud_router_aws_google_no_cloud_side/user-data-ubuntu.sh
  examples/use-cases/cloud_router_aws_oracle_port/README.md
  examples/use-cases/cloud_router_aws_oracle_port/provider.tf
  examples/use-cases/cloud_router_google_azure/README.md
  examples/use-cases/cloud_router_google_azure/provider.tf
  examples/use-cases/cloud_router_google_azure/user-data-ubuntu.sh
  examples/use-cases/cloud_router_google_ipsec/README.md
  examples/use-cases/cloud_router_google_ipsec/provider.tf
  examples/use-cases/cloud_router_google_ipsec/user-data-ubuntu.sh
  examples/use-cases/cloud_router_ibm_oracle/README.md
  examples/use-cases/cloud_router_ibm_oracle/provider.tf
  examples/use-cases/cloud_router_ibm_oracle/user-data-ubuntu.sh
  examples/use-cases/cloud_router_module/README.md
  examples/use-cases/cloud_router_module/main.tf
  examples/use-cases/cloud_router_module/modules/packetfabric/cloud_router.tf
  examples/use-cases/dedicated_cloud_aws/README.md
  examples/use-cases/dedicated_cloud_aws/main.tf
  examples/use-cases/flex_bandwidth/README.md
  examples/use-cases/flex_bandwidth/main.tf
  examples/use-cases/hosted_cloud_aws/README.md
  examples/use-cases/hosted_cloud_aws/main.tf
  examples/use-cases/hosted_cloud_aws_no_cloud_side/README.md
  examples/use-cases/hosted_cloud_azure/README.md
  examples/use-cases/hosted_cloud_azure/main.tf
  examples/use-cases/hosted_cloud_google/README.md
  examples/use-cases/hosted_cloud_google/main.tf
  examples/use-cases/hosted_cloud_ibm/README.md
  examples/use-cases/hosted_cloud_ibm/main.tf
  examples/use-cases/marketplace/README.md
  examples/use-cases/marketplace/a_side/main.tf
  examples/use-cases/marketplace/z_side/main.tf
Labels: documentation

#489 Provide Azure Private/Microsoft VLAN ID and connection type in Azure Cloud Router Connection resource
  docs/resources/packetfabric_cloud_router_connection_azure.md
  examples/use-cases/cloud_router_aws/cloud_router_connections.tf
  examples/use-cases/cloud_router_aws_google/cloud_router_connection_aws.tf
  examples/use-cases/cloud_router_aws_google/cloud_router_connection_google.tf
  examples/use-cases/cloud_router_aws_google_no_cloud_side/aws_dx_gateways.tf
  examples/use-cases/cloud_router_aws_google_no_cloud_side/aws_dx_transit_vif.tf
  examples/use-cases/cloud_router_aws_google_no_cloud_side/cloud_router_connection_aws.tf
  examples/use-cases/cloud_router_aws_google_no_cloud_side/cloud_router_connection_google.tf
  examples/use-cases/cloud_router_aws_google_no_cloud_side/cloud_router_connections.tf
  examples/use-cases/cloud_router_aws_oracle_port/aws_dx_gateways.tf
  examples/use-cases/cloud_router_aws_oracle_port/cloud_router_connection_aws.tf
  examples/use-cases/cloud_router_aws_oracle_port/cloud_router_connection_oracle.tf
  examples/use-cases/cloud_router_aws_oracle_port/cloud_router_connection_port.tf
  examples/use-cases/cloud_router_google_azure/cloud_router_connection_azure.tf
  examples/use-cases/cloud_router_google_azure/cloud_router_connection_google.tf
  examples/use-cases/cloud_router_google_azure/variables_azure.tf
  examples/use-cases/cloud_router_google_ipsec/cloud_router_connection_google.tf
  examples/use-cases/cloud_router_google_ipsec/cloud_router_connection_ipsec.tf
  examples/use-cases/cloud_router_ibm_oracle/cloud_router_connection_oracle.tf
  examples/use-cases/cloud_router_ibm_oracle/cloud_router_connections.tf
  examples/use-cases/hosted_cloud_azure/main.tf
  examples/use-cases/hosted_cloud_azure/variables.tf
  internal/packetfabric/bgp_session.go
  internal/packetfabric/cloud_service_aws.go
  internal/packetfabric/cloud_service_azure.go
  internal/provider/datasource_cloud_connections.go
  internal/provider/datasource_hosted_aws_google_azure_oracle_conn.go
  internal/provider/resource_azure_cloud_router_connection.go
  internal/provider/resource_azure_hosted_conn.go
  internal/provider/resource_bgp_session.go
Labels: enhancement

#491 Update Examples and Docs for Google and IBM
  docs/resources/packetfabric_cloud_provider_credential_google.md
  docs/resources/packetfabric_cloud_router_connection_ibm.md
  docs/resources/packetfabric_cs_ibm_hosted_connection.md
  examples/source_env_var.sh.sample
  examples/use-cases/cloud_router_aws_google/README.md
  examples/use-cases/cloud_router_aws_google_no_cloud_side/README.md
  examples/use-cases/cloud_router_google_azure/README.md
  examples/use-cases/cloud_router_google_ipsec/README.md
  examples/use-cases/hosted_cloud_google/README.md
  templates/resources/cloud_provider_credential_google.md.tmpl
Labels: documentation

#485 Add documents resource & data-source
  .gitignore
  docs/data-sources/packetfabric_document.md
  docs/resources/packetfabric_document.md
  examples/data-sources/packetfabric_document/data-source.tf
  examples/resources/packetfabric_document/resource.tf
  examples/test.tf
  internal/packetfabric/client.go
  internal/packetfabric/documents.go
  internal/provider/datasource_documents.go
  internal/provider/provider.go
  internal/provider/resource_documents.go
  templates/data-sources/document.md.tmpl
  templates/resources/document.md.tmpl
Labels: new feature

#493 Update example for CR to US only
  docs/resources/packetfabric_cloud_router.md
  docs/resources/packetfabric_cloud_router_bgp_session.md
  docs/resources/packetfabric_cloud_router_connection_aws.md
  docs/resources/packetfabric_cloud_router_connection_azure.md
  docs/resources/packetfabric_cloud_router_connection_google.md
  docs/resources/packetfabric_cloud_router_connection_ibm.md
  docs/resources/packetfabric_cloud_router_connection_ipsec.md
  docs/resources/packetfabric_cloud_router_connection_oracle.md
  docs/resources/packetfabric_cloud_router_connection_port.md
  examples/resources/packetfabric_cloud_router/resource.tf
  examples/resources/packetfabric_cloud_router_bgp_session/resource.tf
  examples/resources/packetfabric_cloud_router_connection_aws/resource.tf
  examples/resources/packetfabric_cloud_router_connection_azure/resource.tf
  examples/resources/packetfabric_cloud_router_connection_google/resource.tf
  examples/resources/packetfabric_cloud_router_connection_ibm/resource.tf
  examples/resources/packetfabric_cloud_router_connection_ipsec/resource.tf
  examples/resources/packetfabric_cloud_router_connection_oracle/resource.tf
  examples/resources/packetfabric_cloud_router_connection_port/resource.tf
Labels: documentation

#495 Fix Cloud Router ACC and add pre-check for port ACC
  internal/provider/resource_cloud_router_test.go
  internal/provider/resource_port_test.go
Labels: acceptance test

#481 Refactor service status checks
  internal/packetfabric/ports.go
  internal/provider/resource_backbone.go
Labels: enhancement

#464 Pfacctests/data packetfabric locations markets
  internal/provider/datasource_locations_markets_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#465 Generating HCL for datasources packetfabric_activitylog
  internal/provider/datasource_activity_log_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#463 Pfacctests/data packetfabric locations regions
  internal/provider/datasource_locations_regions_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#461 Pfacctests/data packetfabric locations
  internal/provider/datasource_locations_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#453 Pfacctests/data packetfabric locations cloud
  internal/provider/datasource_cloud_locations_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#424 Pfacctests/packetfabric cloud router connection aws
  internal/provider/resource_aws_cloud_router_connection_test.go
  internal/testutil/test_envar_keys.go
  internal/testutil/test_hcls.go
  internal/testutil/testutil.go
Labels: acceptance test

#454 Pfacctests/packetfabric backbone virtual circuit
  internal/packetfabric/cloud_router.go
  internal/provider/resource_backbone_test.go
  internal/provider/resource_port.go
  internal/provider/resource_port_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  internal/testutil/testutil.go
Labels: acceptance test

#492 Add Early Termination Liability (ETL) info to all applicable resources
  docs/guides/etl.md
  docs/resources/packetfabric_backbone_virtual_circuit.md
  docs/resources/packetfabric_cloud_router.md
  docs/resources/packetfabric_cloud_router_connection_aws.md
  docs/resources/packetfabric_cloud_router_connection_azure.md
  docs/resources/packetfabric_cloud_router_connection_google.md
  docs/resources/packetfabric_cloud_router_connection_ibm.md
  docs/resources/packetfabric_cloud_router_connection_ipsec.md
  docs/resources/packetfabric_cloud_router_connection_oracle.md
  docs/resources/packetfabric_cloud_router_connection_port.md
  docs/resources/packetfabric_cs_aws_dedicated_connection.md
  docs/resources/packetfabric_cs_aws_hosted_connection.md
  docs/resources/packetfabric_cs_azure_dedicated_connection.md
  docs/resources/packetfabric_cs_azure_hosted_connection.md
  docs/resources/packetfabric_cs_google_dedicated_connection.md
  docs/resources/packetfabric_cs_google_hosted_connection.md
  docs/resources/packetfabric_cs_ibm_hosted_connection.md
  docs/resources/packetfabric_cs_oracle_hosted_connection.md
  docs/resources/packetfabric_point_to_point.md
  docs/resources/packetfabric_port.md
  internal/packetfabric/billing.go
  internal/provider/common.go
  internal/provider/resource_aws_cloud_router_connection.go
  internal/provider/resource_aws_dedicated_conn.go
  internal/provider/resource_aws_hosted_conn.go
  internal/provider/resource_azure_cloud_router_connection.go
  internal/provider/resource_azure_dedicated_conn.go
  internal/provider/resource_azure_hosted_conn.go
  internal/provider/resource_backbone.go
  internal/provider/resource_cloud_router.go
  internal/provider/resource_cloud_router_connection_common.go
  internal/provider/resource_cloud_service_common.go
  internal/provider/resource_google_cloud_router_connection.go
  internal/provider/resource_google_dedicated_conn.go
  internal/provider/resource_google_hosted_conn.go
  internal/provider/resource_ibm_hosted_conn.go
  internal/provider/resource_ibm_route_cloud_connection.go
  internal/provider/resource_ipsec_route_cloud_connection.go
  internal/provider/resource_oracle_cloud_router_connection.go
  internal/provider/resource_oracle_hosted_conn.go
  internal/provider/resource_point_to_point.go
  internal/provider/resource_port.go
  internal/provider/resource_port_cloud_router_connection.go
  templates/guides/etl.md
Labels: enhancement

#418 Pfacctests/packetfabric cs aws hosted connection
  internal/provider/resource_aws_dedicated_conn.go
  internal/provider/resource_aws_hosted_conn.go
  internal/provider/resource_aws_hosted_conn_test.go
  internal/provider/resource_azure_dedicated_conn.go
  internal/provider/resource_azure_hosted_conn.go
  internal/provider/resource_google_dedicated_conn.go
  internal/provider/resource_google_hosted_conn.go
  internal/provider/resource_ibm_hosted_conn.go
  internal/provider/resource_ipsec_route_cloud_connection.go
  internal/provider/resource_oracle_hosted_conn.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: bugfix, acceptance test

#388 acctests/packetfabric_cloud_router_connection_port
  internal/provider/resource_port_cloud_router_connection.go
  internal/provider/resource_port_cloud_router_connection_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: bugfix, acceptance test

#448 Pfacctests/packetfabric point to point
  CONTRIBUTING.md
  docs/data-sources/packetfabric_point_to_points.md
  docs/resources/packetfabric_point_to_point.md
  examples/data-sources/packetfabric_point_to_point/data-source.tf
  examples/data-sources/packetfabric_point_to_points/data-source.tf
  internal/packetfabric/client.go
  internal/packetfabric/point_to_point.go
  internal/provider/datasource_point_to_points.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_cloud_router_connection_common.go
  internal/provider/resource_point_to_point.go
  internal/provider/resource_point_to_point_test.go
  internal/provider/resource_port.go
  internal/provider/resource_port_cloud_router_connection.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  internal/testutil/testutil.go
  templates/data-sources/point_to_point.md.tmpl
  templates/data-sources/point_to_points.md.tmpl
Labels: enhancement, acceptance test

#498 Add build tags, update readme, update check env var and remove test_envar_keys.go
  CONTRIBUTING.md
  README.md
  internal/provider/datasource_activity_log_test.go
  internal/provider/datasource_locations_cloud.go
  internal/provider/datasource_locations_cloud_test.go
  internal/provider/datasource_locations_markets_test.go
  internal/provider/datasource_locations_regions_test.go
  internal/provider/datasource_locations_test.go
  internal/provider/datasource_locations_zones_test.go
  internal/provider/datasource_port_availability_test.go
  internal/provider/resource_aws_cloud_router_connection_test.go
  internal/provider/resource_aws_hosted_conn_test.go
  internal/provider/resource_backbone_test.go
  internal/provider/resource_cloud_router_test.go
  internal/provider/resource_point_to_point_test.go
  internal/provider/resource_port_cloud_router_connection_test.go
  internal/provider/resource_port_test.go
  internal/testutil/test_envar_keys.go
  internal/testutil/test_hcls.go
  internal/testutil/testutil.go
Labels: acceptance test

#497 An example of how to do a resource update in acceptance tests
  internal/provider/resource_cloud_router_test.go
  internal/testutil/test_hcls.go
Labels: acceptance test

#369 ACCTest for packetfabric_cloud_router_bgp_session
  CHANGELOG.md
  docs/resources/packetfabric_cloud_router_bgp_session.md
  docs/resources/packetfabric_cloud_router_connection_aws.md
  docs/resources/packetfabric_cloud_router_connection_google.md
  examples/resources/packetfabric_cloud_router_bgp_session/resource.tf
  examples/test.tf
  internal/provider/resource_aws_cloud_router_connection.go
  internal/provider/resource_bgp_session.go
  internal/provider/resource_bgp_session_test.go
  internal/provider/resource_google_cloud_router_connection.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  templates/resources/cloud_router_bgp_session.md.tmpl
  templates/resources/cloud_router_connection_aws.md.tmpl
  templates/resources/cloud_router_connection_google.md.tmpl
Labels: bugfix, acceptance test

#447 Pfacctests/packetfabric port loa
  internal/provider/resource_port_loa_test.go
  internal/testutil/test_hcls.go
Labels: acceptance test

#499 Add deprecate field to speed in Azure Hosted Cloud resource
  docs/guides/labels.md
  docs/resources/packetfabric_cs_azure_hosted_connection.md
  internal/provider/resource_azure_hosted_conn.go
  templates/guides/labels.md
Labels: documentation

#441 Pfacctests/data packetfabric port
  internal/provider/datasource_ports_test.go
  internal/provider/resource_port.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#432 Pftestacc/packetfabric cs aws dedicated connection
  internal/provider/resource_aws_dedicated_conn_test.go
  internal/provider/resource_cloud_service_common.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  internal/testutil/testutil.go
Labels: acceptance test

#439 Pfacctests/data packetfabric billing
  README.md
  internal/provider/datasource_activity_log_test.go
  internal/provider/datasource_billing_test.go
  internal/provider/datasource_locations_test.go
  internal/provider/datasource_locations_zones_test.go
  internal/provider/resource_backbone_test.go
  internal/provider/resource_port.go
  internal/provider/resource_port_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  internal/testutil/testutil.go
Labels: acceptance test

#501 Enable/Disable a LAG
  docs/guides/labels.md
  docs/resources/packetfabric_link_aggregation_group.md
  examples/test.tf
  internal/provider/resource_link_aggregation_groups.go
Labels: enhancement

#505 Fix BGP Azure warning
  internal/provider/resource_bgp_session.go
Labels: bugfix

#422 Pfacctests/packetfabric cs google dedicated connection
  internal/provider/resource_azure_dedicated_conn.go
  internal/provider/resource_cloud_service_common.go
  internal/provider/resource_google_dedicated_conn.go
  internal/provider/resource_google_dedicated_conn_test.go
  internal/provider/resource_link_aggregation_groups.go
  internal/testutil/test_hcls.go
Labels: acceptance test

#425 Pfacctests/packetfabric cs azure dedicated connection
  README.md
  internal/provider/resource_azure_dedicated_conn_test.go
  internal/provider/resource_cloud_service_common.go
  internal/testutil/test_hcls.go
Labels: acceptance test

#507 Refactor IBM Hosted Cloud data-source
  docs/data-sources/packetfabric_cs_ibm_hosted_connection.md
  internal/provider/datasource_hosted_conn.go
  internal/provider/datasource_hosted_ibm_conn.go
  internal/provider/provider.go
Labels: enhancement

#473 Pfacctests/data packetfabric cs aws hosted connection
  internal/provider/datasource_hosted_conn_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#451 Pfacctests/packetfabric link aggregation group
  internal/provider/resource_link_aggregation_groups_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#450 Pfacctests/packetfabric cloud router connection google
  internal/provider/provider_test.go
  internal/provider/resource_google_cloud_router_connection_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#468 Pfacctests/data packetfabric link aggregation group
  internal/provider/datasource_hosted_conn_test.go
  internal/provider/datasource_link_aggregation_groups_test.go
  internal/provider/datasource_port_availability_test.go
  internal/provider/resource_link_aggregation_groups_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#509 Ignore Labels order in all resources supporting labels
  docs/resources/packetfabric_backbone_virtual_circuit.md
  docs/resources/packetfabric_cloud_router.md
  docs/resources/packetfabric_cloud_router_connection_aws.md
  docs/resources/packetfabric_cloud_router_connection_azure.md
  docs/resources/packetfabric_cloud_router_connection_google.md
  docs/resources/packetfabric_cloud_router_connection_ibm.md
  docs/resources/packetfabric_cloud_router_connection_ipsec.md
  docs/resources/packetfabric_cloud_router_connection_oracle.md
  docs/resources/packetfabric_cloud_router_connection_port.md
  docs/resources/packetfabric_cloud_router_quick_connect.md
  docs/resources/packetfabric_cs_aws_dedicated_connection.md
  docs/resources/packetfabric_cs_aws_hosted_connection.md
  docs/resources/packetfabric_cs_azure_dedicated_connection.md
  docs/resources/packetfabric_cs_azure_hosted_connection.md
  docs/resources/packetfabric_cs_google_dedicated_connection.md
  docs/resources/packetfabric_cs_google_hosted_connection.md
  docs/resources/packetfabric_cs_ibm_hosted_connection.md
  docs/resources/packetfabric_cs_oracle_hosted_connection.md
  docs/resources/packetfabric_link_aggregation_group.md
  docs/resources/packetfabric_point_to_point.md
  docs/resources/packetfabric_port.md
  internal/provider/common.go
  internal/provider/resource_aws_cloud_router_connection.go
  internal/provider/resource_aws_dedicated_conn.go
  internal/provider/resource_aws_hosted_conn.go
  internal/provider/resource_azure_cloud_router_connection.go
  internal/provider/resource_azure_dedicated_conn.go
  internal/provider/resource_azure_hosted_conn.go
  internal/provider/resource_backbone.go
  internal/provider/resource_cloud_router.go
  internal/provider/resource_cloud_router_quick_connect.go
  internal/provider/resource_google_cloud_router_connection.go
  internal/provider/resource_google_dedicated_conn.go
  internal/provider/resource_google_hosted_conn.go
  internal/provider/resource_ibm_hosted_conn.go
  internal/provider/resource_ibm_route_cloud_connection.go
  internal/provider/resource_ipsec_route_cloud_connection.go
  internal/provider/resource_link_aggregation_groups.go
  internal/provider/resource_oracle_cloud_router_connection.go
  internal/provider/resource_oracle_hosted_conn.go
  internal/provider/resource_point_to_point.go
  internal/provider/resource_port.go
  internal/provider/resource_port_cloud_router_connection.go
Labels: bugfix

#456 Pfacctests/packetfabric cs google hosted connection
  README.md
  internal/provider/resource_aws_hosted_conn.go
  internal/provider/resource_aws_hosted_conn_test.go
  internal/provider/resource_google_hosted_conn.go
  internal/provider/resource_google_hosted_conn_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#389 acctests/packetfabric_cloud_router_connection_azure and azure_hosted_cloud
  internal/packetfabric/cloud_service_azure.go
  internal/provider/provider_test.go
  internal/provider/resource_aws_dedicated_conn.go
  internal/provider/resource_azure_cloud_router_connection_test.go
  internal/provider/resource_azure_dedicated_conn.go
  internal/provider/resource_azure_hosted_conn.go
  internal/provider/resource_azure_hosted_conn_test.go
  internal/provider/resource_google_dedicated_conn.go
  internal/provider/resource_link_aggregation_groups.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  internal/testutil/testutil.go
Labels: acceptance test

#419 Pfacctests/packetfabric cloud router connection ibm and hosted cloud
  docs/resources/packetfabric_cloud_router_bgp_session.md
  docs/resources/packetfabric_cloud_router_connection_ibm.md
  docs/resources/packetfabric_cs_ibm_hosted_connection.md
  examples/resources/packetfabric_cloud_router_bgp_session/resource.tf
  examples/resources/packetfabric_cloud_router_connection_ibm/resource.tf
  examples/resources/packetfabric_cs_ibm_hosted_connection/resource.tf
  examples/source_env_var.sh.sample
  examples/use-cases/cloud_router_ibm_oracle/cloud_router_connection_ibm.tf
  examples/use-cases/cloud_router_ibm_oracle/variables_cloud_router.tf
  examples/use-cases/hosted_cloud_ibm/main.tf
  examples/use-cases/hosted_cloud_ibm/variables.tf
  go.mod
  go.sum
  internal/packetfabric/cloud_service_aws.go
  internal/provider/datasource_ports_test.go
  internal/provider/provider_test.go
  internal/provider/resource_aws_dedicated_conn.go
  internal/provider/resource_aws_dedicated_conn_test.go
  internal/provider/resource_azure_dedicated_conn.go
  internal/provider/resource_azure_dedicated_conn_test.go
  internal/provider/resource_cloud_service_common.go
  internal/provider/resource_google_dedicated_conn.go
  internal/provider/resource_ibm_hosted_conn_test.go
  internal/provider/resource_ibm_route_cloud_connection_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  internal/testutil/testutil.go
  tfplugindocs.sh
Labels: acceptance test

#510 Handling config diff due to endpoints order in packetfabric_point_to_point
  acc_test_count.sh
  internal/provider/resource_point_to_point.go
Labels: bugfix

#446 Pfacctests/packetfabric outbound cross connect
  .gitignore
  internal/provider/resource_outbound_cross_connect_test.go
  internal/provider/testdata/test_acc_document.pdf
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#511 Google ACC test Edge Availability selection
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#420 Pfacctests/packetfabric cloud router connection ipsec
  internal/packetfabric/service_status_check.go
  internal/provider/resource_ipsec_route_cloud_connection.go
  internal/provider/resource_ipsec_route_cloud_connection_test.go
  internal/testutil/test_hcls.go
  internal/testutil/testutil.go
Labels: acceptance test

#426 Pfacctests/packetfabric cloud router connection oracle
  docs/resources/packetfabric_cloud_router_connection_port.md
  docs/resources/packetfabric_point_to_point.md
  examples/use-cases/cloud_router_aws_oracle_port/provider.tf
  examples/use-cases/cloud_router_ibm_oracle/provider.tf
  internal/provider/provider_test.go
  internal/provider/resource_aws_cloud_router_connection.go
  internal/provider/resource_aws_cloud_router_connection_test.go
  internal/provider/resource_aws_dedicated_conn.go
  internal/provider/resource_aws_hosted_conn.go
  internal/provider/resource_aws_hosted_conn_test.go
  internal/provider/resource_azure_cloud_router_connection.go
  internal/provider/resource_azure_cloud_router_connection_test.go
  internal/provider/resource_azure_dedicated_conn.go
  internal/provider/resource_azure_hosted_conn.go
  internal/provider/resource_backbone.go
  internal/provider/resource_bgp_session.go
  internal/provider/resource_cloud_router.go
  internal/provider/resource_cloud_router_quick_connect.go
  internal/provider/resource_flex_bandwidth.go
  internal/provider/resource_google_cloud_router_connection.go
  internal/provider/resource_google_cloud_router_connection_test.go
  internal/provider/resource_google_dedicated_conn.go
  internal/provider/resource_google_hosted_conn.go
  internal/provider/resource_ibm_hosted_conn.go
  internal/provider/resource_ibm_hosted_conn_test.go
  internal/provider/resource_ibm_route_cloud_connection.go
  internal/provider/resource_ibm_route_cloud_connection_test.go
  internal/provider/resource_ipsec_route_cloud_connection.go
  internal/provider/resource_ipsec_route_cloud_connection_test.go
  internal/provider/resource_link_aggregation_groups.go
  internal/provider/resource_oracle_cloud_router_connection.go
  internal/provider/resource_oracle_cloud_router_connection_test.go
  internal/provider/resource_oracle_hosted_conn.go
  internal/provider/resource_oracle_hosted_conn_test.go
  internal/provider/resource_point_to_point.go
  internal/provider/resource_port.go
  internal/provider/resource_port_cloud_router_connection.go
  internal/provider/resource_port_loa.go
  internal/provider/resource_port_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  internal/testutil/testutil.go
Labels: acceptance test

#513 Add 15sec delay before doing the GET etl
  .github/CODEOWNERS
  internal/packetfabric/billing.go
Labels: enhancement

#514 Update logic to select IPsec capable port for IPsec CR test
  internal/packetfabric/locations.go
  internal/testutil/test_hcls.go
  internal/testutil/testutil.go
Labels: acceptance test

#452 Pfacctests/packetfabric backbone virtual circuit speed burst
  internal/provider/datasource_activity_log_test.go
  internal/provider/datasource_hosted_conn_test.go
  internal/provider/datasource_locations_cloud_test.go
  internal/provider/datasource_locations_markets_test.go
  internal/provider/datasource_locations_regions_test.go
  internal/provider/datasource_locations_test.go
  internal/provider/datasource_locations_zones_test.go
  internal/provider/datasource_port_availability_test.go
  internal/provider/resource_add_speed_burst_test.go
  internal/provider/resource_aws_cloud_router_connection_test.go
  internal/provider/resource_aws_dedicated_conn_test.go
  internal/provider/resource_aws_hosted_conn_test.go
  internal/provider/resource_azure_cloud_router_connection_test.go
  internal/provider/resource_azure_dedicated_conn_test.go
  internal/provider/resource_azure_hosted_conn_test.go
  internal/provider/resource_backbone_test.go
  internal/provider/resource_bgp_session_test.go
  internal/provider/resource_cloud_router_test.go
  internal/provider/resource_google_cloud_router_connection_test.go
  internal/provider/resource_google_dedicated_conn_test.go
  internal/provider/resource_google_hosted_conn_test.go
  internal/provider/resource_ibm_hosted_conn_test.go
  internal/provider/resource_ibm_route_cloud_connection_test.go
  internal/provider/resource_ipsec_route_cloud_connection_test.go
  internal/provider/resource_oracle_cloud_router_connection_test.go
  internal/provider/resource_oracle_hosted_conn_test.go
  internal/provider/resource_point_to_point_test.go
  internal/provider/resource_port_cloud_router_connection_test.go
  internal/provider/resource_port_test.go
  internal/testutil/test_hcls.go
Labels: acceptance test

#458 Pfacctests/data packetfabric port vlans
  acc_test_count.sh
  internal/provider/datasource_activity_log_test.go
  internal/provider/datasource_billing_test.go
  internal/provider/datasource_cloud_dedicated_connections_test.go
  internal/provider/datasource_hosted_conn_test.go
  internal/provider/datasource_link_aggregation_groups_test.go
  internal/provider/datasource_locations_cloud_test.go
  internal/provider/datasource_locations_markets_test.go
  internal/provider/datasource_locations_regions_test.go
  internal/provider/datasource_locations_test.go
  internal/provider/datasource_locations_zones_test.go
  internal/provider/datasource_port_availability_test.go
  internal/provider/datasource_port_vlan_summary_test.go
  internal/provider/datasource_ports_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#516 Rename data-source packetfabric_document to packetfabric_documents
  docs/data-sources/packetfabric_documents.md
  examples/data-sources/packetfabric_document/data-source.tf
  examples/data-sources/packetfabric_documents/data-source.tf
  examples/test.tf
  internal/provider/provider.go
  templates/data-sources/document.md.tmpl
  templates/data-sources/documents.md.tmpl
Labels: enhancement

#459 Pfacctests/data packetfabric port router logs
  internal/provider/datasource_port_router_logs_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#466 Pfacctests/data packetfabric cloud router connection ipsec
  internal/provider/datasource_ipsec_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#517 Changed zone from optional to required and renaming cloud_router DS
  docs/data-sources/packetfabric_cloud_routers.md
  docs/resources/packetfabric_backbone_virtual_circuit_marketplace.md
  docs/resources/packetfabric_cloud_router_connection_aws.md
  docs/resources/packetfabric_cloud_router_connection_ibm.md
  docs/resources/packetfabric_cloud_router_connection_oracle.md
  docs/resources/packetfabric_cs_aws_dedicated_connection.md
  docs/resources/packetfabric_cs_aws_hosted_connection.md
  docs/resources/packetfabric_cs_aws_hosted_marketplace_connection.md
  docs/resources/packetfabric_cs_azure_dedicated_connection.md
  docs/resources/packetfabric_cs_azure_hosted_marketplace_connection.md
  docs/resources/packetfabric_cs_google_dedicated_connection.md
  docs/resources/packetfabric_cs_google_hosted_marketplace_connection.md
  docs/resources/packetfabric_cs_ibm_hosted_connection.md
  docs/resources/packetfabric_cs_oracle_hosted_connection.md
  docs/resources/packetfabric_cs_oracle_hosted_marketplace_connection.md
  docs/resources/packetfabric_ix_virtual_circuit_marketplace.md
  docs/resources/packetfabric_marketplace_service.md
  docs/resources/packetfabric_marketplace_service_port_accept_request.md
  docs/resources/packetfabric_outbound_cross_connect.md
  docs/resources/packetfabric_point_to_point.md
  docs/resources/packetfabric_port.md
  examples/data-sources/packetfabric_cloud_router/data-source.tf
  examples/data-sources/packetfabric_cloud_routers/data-source.tf
  internal/provider/datasource_cloud_routers.go
  internal/provider/datasource_point_to_points.go
  internal/provider/provider.go
  internal/provider/resource_aws_cloud_router_connection.go
  internal/provider/resource_aws_dedicated_conn.go
  internal/provider/resource_aws_hosted_conn.go
  internal/provider/resource_aws_hosted_mkt_conn.go
  internal/provider/resource_azure_dedicated_conn.go
  internal/provider/resource_azure_hosted_mkt_conn.go
  internal/provider/resource_bgp_session.go
  internal/provider/resource_google_dedicated_conn.go
  internal/provider/resource_google_hosted_mkt_conn.go
  internal/provider/resource_ibm_hosted_conn.go
  internal/provider/resource_ibm_route_cloud_connection.go
  internal/provider/resource_ix_vc.go
  internal/provider/resource_marketplace.go
  internal/provider/resource_oracle_cloud_router_connection.go
  internal/provider/resource_oracle_hosted_conn.go
  internal/provider/resource_oracle_hosted_mkt_conn.go
  internal/provider/resource_outbound_cross_connect.go
  internal/provider/resource_point_to_point.go
  internal/provider/resource_port.go
  internal/provider/resource_service_request_provision.go
  internal/provider/resource_third_party_virtual_circuit.go
  templates/data-sources/cloud_router.md.tmpl
  templates/data-sources/cloud_routers.md.tmpl
Labels: enhancement

#467 Pfacctests/data packetfabric point to points
  internal/provider/datasource_point_to_points_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#470 Pfacctests/data packetfabric cloud router connections and connection
  examples/test.tf
  internal/packetfabric/point_to_point.go
  internal/provider/datasource_cloud_connection_test.go
  internal/provider/datasource_cloud_connections_test.go
  internal/provider/datasource_point_to_points.go
  internal/provider/datasource_point_to_points_test.go
  internal/provider/datasource_ports.go
  internal/provider/resource_point_to_point_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: bugfix, acceptance test

#519 Update Example Use Case Cross-connect
  docs/resources/packetfabric_document.md
  docs/resources/packetfabric_outbound_cross_connect.md
  examples/resources/packetfabric_document/resource.tf
  examples/resources/packetfabric_outbound_cross_connect/resource.tf
  examples/test.tf
  examples/use-cases/README.md
  examples/use-cases/backbone_virtual_circuit/README.md
  examples/use-cases/backbone_virtual_circuit/demo_port_loa.pdf
  examples/use-cases/backbone_virtual_circuit/main.tf
  examples/use-cases/backbone_virtual_circuit/variables.tf
Labels: documentation

#471 Pfacctests/data packetfabric cloud router bgp session
  internal/provider/datasource_bgp_session_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#525 Add is_lag to packetfabric_cs_dedicated_connections data-source
  docs/data-sources/packetfabric_cs_dedicated_connections.md
  internal/packetfabric/cloud_service_aws.go
  internal/packetfabric/cloud_service_aws_test.go
  internal/provider/datasource_cloud_dedicated_connections.go
  internal/provider/datasource_cloud_dedicated_connections_test.go
Labels: enhancement, acceptance test

#526 ACC Test for packetfabric_cloud_provider_credential_aws/google resources
  acc_test_helper.txt
  internal/provider/resource_aws_cloud_provider_credential_test.go
  internal/provider/resource_google_cloud_provider_credential_test.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
Labels: acceptance test

#528 Acc test for packetfabric_cloud_router_quick_connect
  acc_test_helper.txt
  docs/resources/packetfabric_cloud_router_quick_connect.md
  examples/resources/packetfabric_cloud_router_quick_connect/resource.tf
  examples/test.tf
  internal/packetfabric/billing.go
  internal/packetfabric/cloud_router_quick_connect.go
  internal/packetfabric/cloud_service_aws.go
  internal/packetfabric/cloud_service_azure.go
  internal/packetfabric/cloud_service_google.go
  internal/packetfabric/marketplace.go
  internal/provider/resource_cloud_router_connection_common.go
  internal/provider/resource_cloud_router_quick_connect.go
  internal/provider/resource_cloud_router_quick_connect_test.go
  internal/provider/resource_marketplace.go
  internal/testutil/test_hcls.go
  internal/testutil/test_schemas.go
  templates/resources/cloud_router_quick_connect.md.tmpl
Labels: enhancement, acceptance test

#527 Bump version to 1.6.0 in examples and update CHANGELOG.md
  CHANGELOG.md
  docs/index.md
  examples/provider/provider.tf
  examples/test.tf
  examples/use-cases/backbone_virtual_circuit/main.tf
  examples/use-cases/backbone_virtual_circuit_mesh/main.tf
  examples/use-cases/cloud_router_aws/provider.tf
  examples/use-cases/cloud_router_aws_google/provider.tf
  examples/use-cases/cloud_router_aws_oracle_port/provider.tf
  examples/use-cases/cloud_router_google_azure/provider.tf
  examples/use-cases/cloud_router_google_ipsec/provider.tf
  examples/use-cases/cloud_router_ibm_oracle/provider.tf
  examples/use-cases/cloud_router_module/main.tf
  examples/use-cases/cloud_router_module/modules/packetfabric/cloud_router.tf
  examples/use-cases/dedicated_cloud_aws/main.tf
  examples/use-cases/flex_bandwidth/main.tf
  examples/use-cases/hosted_cloud_aws/main.tf
  examples/use-cases/hosted_cloud_azure/main.tf
  examples/use-cases/hosted_cloud_google/main.tf
  examples/use-cases/hosted_cloud_ibm/main.tf
  examples/use-cases/marketplace/a_side/main.tf
  examples/use-cases/marketplace/z_side/main.tf
Labels: documentation

#529 Update ACC logic for hosted cloud and cloud router pop selection
  internal/testutil/testutil.go
Labels: acceptance test
